.aboutSection {
  background-image: url('../img/bg-1.avif');
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.blurBg {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 4rem 1rem;
}

.container {
  color: aliceblue;
  max-width: 65rem;
  margin: auto;
}

.containerInfo {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 1.75rem;
}
.containerInfo > h2 {
  margin: 0px 0px 1.5rem;
}

.containerBenefits {
  display: flex;
}
.containerBenefitsImg {
  border-radius: 25px 100px;
  width: 100%;
  object-fit: fill;
  display: block;
  

}
.containerBenefits > div {
  width: 50%;
}

@media (max-width: 780px) {
  .containerBenefits > div:nth-child(2) {
    display: none;
  }
  .containerBenefits > div {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 780px) {
  .containerInfo {
    width: 32rem;
  }
}

.disclosure{
  padding: 1.5rem;
background-color: color-mix(in srgb, #fff 5%, transparent 95%);
border-color:color-mix(in srgb, #fff 5%, transparent ); 

}


.disclosureBtn{
  width: 100%;
color: #f3eceb;
background: none;
border: 0;
}

.disclosureText{
  margin-top: .5rem;
  line-height: 1.25rem;

}

.btn {
  padding: 0.6em 1em;
  border: 4px solid #e8e8e8;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #f3eceb;
  font-weight: bolder;
  font-size: 16px;
}

.btn:hover {
  transform: scale(1) rotate(-3deg);
  background-color: #191818;
  color: white;
}
