.sectionBg {
background-color: rgb(85, 85, 85);

}
.section {
  display: flex;

width: 100%;
padding: 4rem 1rem;

}
.container {
  width: 50%;
}

@media (max-width: 680px) {
  .container {
    width: 100%;
  }
.section {
  display: block;
}

}
.maps{
iframe {
  filter: invert(90%) hue-rotate(180deg);

  border-radius: 100px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border: 2px solid #ccc;

}
iframe:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}


}


.info>h2{
    text-align: center;
}
.info>ul>li{
    padding: 20px;
    margin-left: 10px;
}

.grupBtn{
    
padding: 30px;
}
.grupBtn>div{
    display: flex;
    justify-content: end;
    padding: 10px;
}