.container {
width: 100%;
padding: 4rem 1rem;

}

.contentSwitcher {
  display: flex;
  margin-bottom: 20px;
}
.contentText{
  max-width: 65rem;
margin: auto;

}

.contentSwitcherBtn {
  padding: '10px';
  margin-right: '10px';
  color: 'white';
  border: 'none';
  cursor: 'pointer';
}

.contentSwitcherBtn.open {
    background-color: blue;
}
.contentSwitcherBtn.closed {
    background-color: green;
}

